{% extends "_global/index.html" %}

{% block main %}
    <a href="{{ BASE }}user/aucktions">
        List all aucktions
    </a>

    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Naziv aukcije: </label>
                <input class="form-control" type="text"
                       required name="title" id="title">
            </div>

            <div class="form-group">
                <label for="description">Opis aukcije: </label>
                <textarea class="form-control" required
                          name="description" id="description"></textarea>
            </div>

            <div class="form-group">
                <label for="starts_at">Datum početka aukcije: </label>
                <input class="form-control" type="datetime-local"
                       required name="starts_at" id="starts_at">
            </div>

            <div class="form-group">
                <label for="ends_at">Datum završetka aukcije: </label>
                <input class="form-control" type="datetime-local"
                        required name="ends_at" id="ends_at">
            </div>

            <div class="form-group">
                <label for="starting_price">Početna cena aukcije: </label>
                <input class="form-control" type="number" min="1" step="1"
                       required name="starting_price" id="starting_price">
            </div>

            <div class="form-group">
                <label for="category_id">Odaberite kategoriju: </label>
                <select id="category_id" name="category_id" class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.category_id }}">
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="image">Izaberite sliku </label>
                <input class="form-control-file" type="file" required name="image" id="image">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                    Dodaj aukciju
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block naslov %}
Dodavanje kategorije
{% endblock %}
