{% extends "_global/index.html" %}

{% block naslov %}
Aukcije iz kategorije {{ category.name|escape }}
{% endblock %}

{% block title %}
Kategorija "{{ category.name|escape }}"
{% endblock %}

{% block main %}
<ul class="auction-list">
    {% for auction in auctions %}
    <li class="auction-list-item">
        <a href="{{ BASE }}auction/{{ auction.auction_id }}">
            {{ auction.title|escape }},
            {{ auction.ends_at|date('j. n. Y. H.i') }}
        </a>
    {% endfor %}
</ul>
{% endblock %}
