{% extends "_global/index.html" %}

{% block naslov %}
Rezultati pretrage
{% endblock %}

{% block title %}
Rezultati pretrage
{% endblock %}

{% block main %}
<div>
    {% for auction in auctions %}
    <div class="row auction-item">
        <div class="col-12 col-md-3">
            <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                <img src="{{ BASE }}assets/uploads/{{ auction.image_path }}"
                    alt="Slika aukcije - {{ auction.title }}"
                    class="w-100">
            </a>
        </div>
        <div class="col-12 col-md-9 row">
            <div class="col-12">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    {{ auction.title|escape }}
                </a>
            </div>

            <div class="col-12">
                {{ auction.description|escape }}
            </div>

            <div class="col-lg-4 d-none d-lg-block">
                {{ auction.starts_at|date('j. n. Y. H.i') }}
            </div>

            <div class="col-6 col-md-4 col-lg-4">
                {{ auction.ends_at|date('j. n. Y. H.i') }}
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                {{ auction.starting_price }} &euro;
            </div>

            <div class="col-12 col-md-4 col-lg-2">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}"
                   class="btn btn-primary btn-block">
                    Licitiraj
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
