{% extends "_global/index.html" %}

{% block main %}

<p>
    <button onclick="addBookmark({{ auction.auction_id }});">Add to bookmarks</button>
</p>

<div class="row">
    <div class="col-12 col-lg-3">
        <img src="{{ BASE }}assets/uploads/{{ auction.image_path }}"
             alt="Slika aukcije - {{ auction.title }}"
             class="w-100">
    </div>

    <div class="col-12 col-lg-9">
        <h2>{{ auction.title|escape }}</h2>

        <p>
            {{ auction.description|escape }}
        </p>

        <div class="row">
            <div class="col-12 col-lg-8">
                Pocinje: <b>{{ auction.starts_at|date('j. n. Y.') }}</b><br>
                Zavrsava se: <b>{{ auction.ends_at|date('j. n. Y.') }}</b><br>
                Trenutna cena: <strong id="last-price">{{ lastPrice }} din</strong>.
            </div>

            <div class="col-12 col-lg-4">
                <div class="form-group">
                    <p>Unesite iznos licitirane cene:</p>
                    <div class="input-group">
                        <input type="number" id="iznos" class="form-control"
                               value="{{ lastPrice + 50 }}"
                               min="{{ lastPrice + 50 }}"
                               step="1">
                        <button type="button" id="btn-licitiraj"
                                class="input-group-append btn btn-primary" onclick="bid();">
                            Licitiraj
                        </button>
                    </div>
                </div>

                <div id="poruka" class="alert d-none">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function bid() {
        let amount    = document.getElementById('iznos').value;
        let auctionId = {{ auction.auction_id }};

        let form = new FormData();
        form.append('auction_id', auctionId);
        form.append('amount', amount);

        document.getElementById('btn-licitiraj').setAttribute('disabled', true);

        fetch(
            '{{ BASE }}api/auction/bid',
            {
                "credentials": "include",
                "method": "post",
                "body": form
            }
        )
        .then(response => response.json())
        .then(data => {
            document.getElementById('poruka').innerText = data.message;

            if (data.error < 0) {
                document.getElementById('poruka').classList.add('alert-warning');
            } else {
                document.getElementById('poruka').classList.add('alert-primary');
                document.getElementById('last-price').innerText = amount + '.00 din';
            }

            document.getElementById('poruka').classList.remove('d-none');

            document.getElementById('btn-licitiraj').removeAttribute('disabled');
        });
    }
</script>
{% endblock %}
